.loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: Raleway;
    /* background-image: url('https://image.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg');
    background-size: 100% 100%; */
    z-index: 500;
    background-color: #ffffff;
}

.loading .loading-inner {
    position: relative;
}

.loading .loading-inner .loading-content {
    width: 30%;
    background-color: #fff;
    padding: 30px;
    text-align: center;
}

.loading .loading-inner .loading-content i {
    font-size: 25px;
    color: #40cfcd;
}

.loading .loading-inner .loading-content h3 {
    color: #1A2476;
}

.loading .loading-inner .loading-content .btn {
    color: #ffffff;
    font-family: Exo;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #40cfcd;
}

.loading .loading-inner .loading-content .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #40cfcd;
    font-family: Quicksand;
}

.loading .loading-inner .loading-content .form-control:focus {
    box-shadow: none;
}

@media only screen and (max-width: 992px) {

    .loading .loading-inner .loading-content {
        width: 80%;
    }

}

@media only screen and (max-width: 768px) {

    .loading .loading-inner .loading-content {
        width: 90%;
    }

}

@media only screen and (max-width: 600px) {

    .loading .loading-inner .loading-content {
        width: 92%;
    }

}