.Dashboard .top_bar {
    width: 100%;
    font-family: Quicksand;
    background-color: #222222;
    color: #fff;
    padding: 3px 20px;
    z-index: 500;
    position: fixed;
    height: 50px;
}

.Dashboard .Dashboard_logo {
    color: #fff;
    font-size: 25px;
}

.Dashboard input[type='search'] {
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    font-size: 12px;
    background: none;
}

.Dashboard input[type='search']::placeholder {
    color: rgb(255, 255, 255, .5);
}

.Dashboard .side_fixed_bar {
    position: fixed;
    width: 50px;
    height: 94vh;
    top: calc(0vh + 50px);
    background-color: #222222;
    color: #fff;
    z-index: 200;
}

.Dashboard .side_bar {
    position: fixed;
    width: 15%;
    height: calc(100vh - 50px);
    top: calc(0vh + 50px);
    background-color: #222222;
    color: #fff;
    z-index: 201;
    transition: .5s;
    font-family: JosefinSans;
}

.Dashboard .side_bar .action_links a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: .5s;
    color: #fff;
}

.Dashboard .side_bar .action_links a:hover {
    background-color: rgb(255, 255, 255, .1);
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 992px) {

    .Dashboard .top_bar {
        font-size: 16px;
    }

    .Dashboard .side_bar {
        width: 25%;
    }

}

@media only screen and (max-width: 768px) {

    .Dashboard .top_bar .other-grids {
        display: none;
    }

    .Dashboard .side_bar {
        width: 35%;
    }

    .Dashboard .side_fixed_bar {
        display: none;
    }

}


@media only screen and (max-width: 600px) {

    .Dashboard .side_bar {
        width: 50%;
    }

}

@media only screen and (max-width: 480px) {

    .Dashboard .side_bar {
        width: 100%;
    }

}