.Dashboard .top_bar {
    width: 100%;
    font-family: Quicksand;
    background-color: #222222;
    color: #fff;
    padding: 3px 20px;
    z-index: 201;
    position: fixed;
    height: 50px;
}

.Dashboard .Dashboard_logo {
    color: #fff;
    font-size: 25px;
}

.Dashboard input[type='search'] {
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    font-size: 12px;
    background: none;
}

.Dashboard input[type='search']::placeholder {
    color: rgb(255, 255, 255, .5);
}

.Dashboard .side_fixed_bar {
    position: fixed;
    width: 50px;
    height: 94vh;
    top: calc(0vh + 50px);
    background-color: #222222;
    color: #fff;
    z-index: 201;
}

.Dashboard .side_bar {
    position: fixed;
    width: 20%;
    min-height: calc(100vh - 50px);
    top: calc(0vh + 50px);
    background-color: #222222;
    color: #fff;
    z-index: 201;
    transition: .5s;
    font-family: JosefinSans;
}

.Dashboard .side_bar .action_links a {
    display: block;
    /* text-align: center; */
    padding: 10px 30px;
    /* padding: 10px; */
    transition: .5s;
    color: #fff;
}

.Dashboard .side_bar .action_links.sub-links {
    padding: 10px 0 0 35px;
}

.Dashboard .side_bar .action_links a:hover {
    background-color: rgb(255, 255, 255, .1);
    color: #fff;
    text-decoration: none;
}

.Dashboard .candidate_info_btn {
    position: relative;
}

.Dashboard .candidate_info_btn .candidate_info_div {
    position: absolute;
    top: 0;
    width: 300px;
    padding: 10px;
    height: min-content;
    background-color: #fff;
    /* border: 1px solid lightgrey; */
    box-shadow: 8px 10px 10px lightgrey;
    z-index: 50;
    transition: .3s;
    color: #000;
    cursor: auto;
    font-family: Quicksand;
}

@media only screen and (max-width: 1200px) {

    .Dashboard .side_bar {
        width: 30%;
    }

}

@media only screen and (max-width: 992px) {

    .Dashboard .top_bar {
        font-size: 16px;
    }

    .Dashboard .side_bar {
        width: 35%;
    }

}

@media only screen and (max-width: 768px) {

    .Dashboard .top_bar .other-grids {
        display: none;
    }

    .Dashboard .side_bar {
        width: 40%;
    }

    .Dashboard .side_fixed_bar {
        display: none;
    }

}


@media only screen and (max-width: 600px) {

    .Dashboard .side_bar {
        width: 50%;
    }

}

@media only screen and (max-width: 480px) {

    .Dashboard .side_bar {
        width: 100%;
    }

}

@media only screen and (max-height: 400px)
{

    .Dashboard .side_bar {
        font-size: 12px;
        width: 50%;
    }

    .Dashboard .side_bar .action_links a {
        padding: 5px 30px;
    }

}