.NewDashboard {
    position: relative;
}

.NewDashboard .side_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-image: linear-gradient( #1A2476, #0F1345 );
    color: #ffffff;
    z-index: 11;
}

.NewDashboard .side_bar hr {
    width: 70%;
    float: right;
    background-color: #566BE3;
}

.NewDashboard .side_bar h3 {
    font-family: Quicksand;
    font-weight: bolder;
    color: #40CFCD;
}

.NewDashboard .side_bar h3 div {
    font-size: 12px;
    text-align: right;
    padding: 0 20px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
}

.NewDashboard .side_bar div .side-links {
    padding: 0 0 0 50px;
}

.NewDashboard .side_bar div .side-links a {
    display: flex;  
    padding: 15px;
    color: #566BE3;
    text-transform: uppercase;
    font-size: 12px;
    transition: .5s;
    border-radius: 5px 0 0 5px;
    /* background-color: ; */
    font-weight: bolder;
    font-family: Quicksand;
}

.NewDashboard .side_bar div .side-links a:hover {
    background-color: #ffffff;
    color: #0F1345;
    text-decoration: none;
}

.NewDashboard .side_bar div .side-links a:active, .NewDashboard .side_bar div .side-links a.active {
    background-color: #ffffff;
    color: #0F1345;
    text-decoration: none;
}

.NewDashboard .side_bar div .side-links a i {
    font-size: 20px;
}

.NewDashboard .side_bar .logout_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: grid;
    align-items: end;
    z-index: -1;
}

.NewDashboard .main-content {
    width: 85%;
    margin-left: 15%;
    position: relative;
}