.LaboratoryInvestigation {
    width: 100%;
    min-height: 100vh;
    font-family: Raleway;
    background-color: #f5f8fd;
}

.LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
    width: 60%;
    background-color: #fff;
    padding: 30px;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    font-size: 12px;
}

.LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content .form-control {
    font-size: 12px;
}

.LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content .btn {
    width: 50%;
}

@media only screen and (max-width: 1500px) {

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        width: 70%;
    }

}

@media only screen and (max-width: 1200px) {

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        width: 90%;
    }

}

@media only screen and (max-width: 992px) {

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        width: 92%;
    }

}

@media only screen and (max-width: 768px) {

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        font-size: 16px;
    }

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        width: 92%;
    }

}

@media only screen and (max-width: 600px) {

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        font-size: 16px;
    }

    .LaboratoryInvestigation h3 {
        font-size: 22px;
    }

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content {
        width: 92%;
    }

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content .form-control {
        font-size: 16px;
    }

    .LaboratoryInvestigation .LaboratoryInvestigation-inner .LaboratoryInvestigation-content .btn {
        width: 75%;
    }

}

@media only screen and (max-height: 1000px)
{

    .LaboratoryInvestigation {
        padding: 100px 0 50px 0;
    }

}