.CandidateForm {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
    background-color: #f5f8fd;
    font-family: Raleway;
}

.CandidateForm .CandidateForm-inner {
    position: relative;
}

.CandidateForm .CandidateForm-inner .CandidateForm-content {
    width: 30%;
    background-color: #fff;
    padding: 30px;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}

.CandidateForm .CandidateForm-inner .CandidateForm-content select, .CandidateForm .CandidateForm-inner .CandidateForm-content input[type='number'] {
    border: rgb(34, 34, 34, .5) 1px solid;
}

.CandidateForm .CandidateForm-inner .CandidateForm-content input[type='number']:focus {
    box-shadow: none;
    border: 1px solid #222222;
}
  
.CandidateForm .CandidateForm-inner .CandidateForm-content select:focus {
    box-shadow: none;
    border: 1px solid #222222;
  }

.CandidateForm .CandidateForm-inner .CandidateForm-content div.user_image {
    width: 100%;
    height: auto;
    text-align: center;
}

@media only screen and (max-width: 992px) {

    .CandidateForm .CandidateForm-inner .CandidateForm-content {
        width: 80%;
    }

}

@media only screen and (max-width: 768px) {

    .CandidateForm .CandidateForm-inner .CandidateForm-content {
        width: 90%;
    }

}

@media only screen and (max-width: 600px) {

    .CandidateForm .CandidateForm-inner .CandidateForm-content {
        width: 92%;
        /* margin-top: 100px; */
        /* margin-bottom: 50px; */
    }

}

@media only screen and (max-height: 800px)
{

    .CandidateForm {
        padding: 100px 0 50px 0;
    }

}