.modal-rel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* transition: 1s; */
}

.hide-rel {
    opacity: 0;
    z-index: -1;
}

.show-rel {
    opacity: 1;
    z-index: 999;
}

.Modal {
    width: 30%;
    min-height: min-content;
    max-height: 100vh;
    overflow: auto;
    background-color: #fff;
    padding: 30px;
    transition: 1s;
    transform: translateY(-100%);
    opacity: 0;
    color: #1A2476;
    font-family: Quicksand;
    border-radius: 20px;
}

.Modal .btn {
    color: #ffffff;
    font-family: Exo;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #40cfcd;
}

.hide-modal {
    animation: hideModal 1s ease-out 1 forwards alternate;
}

.show-modal {
    animation: showModal 1s ease 1 forwards alternate;
}

@keyframes showModal
{

    50% { transform: translateY(20%); opacity: 1; }
    100% { transform: translateY(0); opacity: 1; }

}

@keyframes hideModal
{

    50% { transform: translateY(20%);  }
    100% { transform: translateY(-100%); opacity: 0; }

}

@media only screen and (max-width: 992px) {

    .Modal {
        width: 80%;
        /* left: 10%; */
    }

}

@media only screen and (max-width: 768px) {

    .Modal {
        width: 90%;
        /* left: 5%; */
    }

}

@media only screen and (max-width: 600px) {

    .Modal {
        width: 92%;
        /* left: 4%; */
        padding: 15px;
    }

}

@media only screen and (max-height: 400px)
{

    .Modal {
        width: 50%;
        /* left: 25%; */
    }

}