.loginForm {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: Raleway;
    background-image: url('https://ak.picdn.net/shutterstock/videos/28460836/thumb/1.jpg');
    background-size: 100% 100%;
}

.loginForm .loginForm-inner {
    position: relative;
}

.loginForm .loginForm-inner .loginForm-content {
    width: 30%;
    background-color: #fff;
    padding: 30px;
}

.loginForm .loginForm-inner .loginForm-content i {
    font-size: 25px;
    color: #2182C5;
}

.loginForm .loginForm-inner .loginForm-content h3 {
    color: #2182C5;
}

.loginForm .loginForm-inner .loginForm-content .btn {
    color: #ffffff;
    font-family: Exo;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #00a751;
}

.loginForm .loginForm-inner .loginForm-content .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #2182C5;
    font-family: Quicksand;
}

.loginForm .loginForm-inner .loginForm-content .form-control:focus {
    box-shadow: none;
}

@media only screen and (max-width: 992px) {
    .loginForm .loginForm-inner .loginForm-content {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .loginForm .loginForm-inner .loginForm-content {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .loginForm .loginForm-inner .loginForm-content {
        width: 92%;
    }
}