.DashboardHome .DashboardHome-content {
    padding: 20px;
    position: relative;
}

.DashboardHome .DashboardHome-content .chart {
    width: 100%;
    height: min-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
    font-family: Quicksand;
}

.DashboardHome .DashboardHome-content nav {
    z-index: 10;
}

.DashboardHome .DashboardHome-content nav .nav-tabs {
    border: 0;
}

.DashboardHome .DashboardHome-content .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1A2476;
    border-color: transparent transparent #f59b28;
    border-bottom: 4px solid #f59b28 !important;
    font-weight: bolder;
}
.DashboardHome .DashboardHome-content .nav-tabs .nav-link {
    color: #1A2476;
    font-family: Exo;
    font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 15px;
}

.DashboardHome .DashboardHome-content .nav-tabs .nav-link:hover {
    border: 2px solid transparent;
}

.DashboardHome .DashboardHome-content .startProcessDiv .btn {
    color: #ffffff;
    font-family: Exo;
    background-color: #40cfcd;
    padding: 3px 50px;
    transition: .5s;
    border: 1px solid #40cfcd;
}

.DashboardHome .DashboardHome-content .btn:hover {
    background: none;
    border: 1px solid #40cfcd;
    color: #40cfcd;
}

.DashboardHome .DashboardHome-content .startProcessDiv {
    font-family: Raleway;
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 5px;
    color: #40cfcd;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.DashboardHome .DashboardHome-content .startProcessDiv .strtprtxt {
    border-left: 2px solid #1A2476;
}

@media only screen and (max-width: 1250px)
{

}

@media only screen and (max-width: 992px)
{

}

@media only screen and (max-width: 768px)
{

    .DashboardHome nav {
        margin-top: 50px !important;
    }
    
    .DashboardHome .DashboardHome-content {
        font-size: 16px;
    }
    
}


@media only screen and (max-width: 600px)
{

    .DashboardHome {
        font-size: 16px;
    }

    .DashboardHome .DashboardHome-content .startProcessDiv .btn {
        width: 100% !important;
    }

    .DashboardHome .DashboardHome-content .startProcessDiv .strtprtxt {
        border: 0;
        padding: 0 !important;
        margin-bottom: 10px !important;
    }

}

@media only screen and (max-width: 450px)
{

    .DashboardHome .DashboardHome-content .startProcessDiv {
        display: block !important;
        padding: 5px 10px !important;
        text-align: center;
    }

}