.ReportPanel {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f8fd;
    font-family: Raleway;
    font-size: 12px;
}

.ReportPanel .ReportPanel-inner {
    position: relative;
}

.ReportPanel .ReportPanel-inner .ReportPanel-content {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 40px 0 40px 0;
    margin-top: 10vh;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}

.ReportPanel .ReportPanel-inner .ReportPanel-content .tabs-btns {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px lightgrey;
    font-size: 12px;
}

.ReportPanel .ReportPanel-inner .recordsPanel {
    padding: 30px;
    background-color: #000;
}


@media only screen and (max-width: 992px) {

    .ReportPanel .ReportPanel-inner .ReportPanel-content {
        width: 80%;
    }

}

@media only screen and (max-width: 768px) {

    .ReportPanel .ReportPanel-inner .ReportPanel-content {
        width: 90%;
    }

}

@media only screen and (max-width: 600px) {

    .ReportPanel .ReportPanel-inner .ReportPanel-content {
        width: 92%;
        padding: 30px 20px;
    }

}

@media only screen and (max-height: 800px) 
{

    .ReportPanel {
        padding: 100px 0  50px 0;
    }

}