.MedicalExamination {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway;
}
 
.MedicalExamination .MedicalExamination-inner {
    position: relative;
}

.MedicalExamination .MedicalExamination-inner .MedicalExamination-content {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 10px 10px lightgrey;
    font-size: 12px;
}

.MedicalExamination .MedicalExamination-inner .MedicalExamination-content .form-control {
    font-size: 12px;
}

.distant-sm, .distant-aided-sm, .distant-unaided-sm {
    display: none !important;
}

.near-sm, .near-aided-sm, .near-unaided-sm {
    display: none ;
}

@media only screen and (max-width: 992px) {

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content {
        width: 80%;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content .nav-tabs {
        font-size: 14px;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content .form-control {
        font-size: 14px;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content p, .btn {
        font-size: 16px;
    }

    #eyeInfo > div > div > div.col-lg-4.col-md-3.col-sm-3.text-center.d-grid.ColourVision-col {
        padding-top: 13px;
    }

    .outer-col {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 768px) {

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content {
        width: 90%;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content .nav-tabs {
        font-size: 16px;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content .form-control {
        font-size: 16px;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content p, .btn {
        font-size: 16px;
    }

    #eyeInfo > div > div > div.col-lg-4.col-md-3.col-sm-3.text-center.d-grid.ColourVision-col {
        padding-top: 13px;
    }

    .outer-col {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 600px) {

    .MedicalExamination {
        padding: 80px 0;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content .nav-tabs {
        font-size: 16px;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content {
        width: 92%;
        padding: 30px 10px;
        font-family: Quicksand;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content .form-control {
        font-size: 16px;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content h3 {
        text-align: center;
    }

    .MedicalExamination .MedicalExamination-inner .MedicalExamination-content p, .btn {
        margin-bottom: 0;
        font-size: 16px;
    }

    #eyeInfo > div > div > div.col-lg-4.col-md-3.col-sm-3.text-center.d-grid.ColourVision-col {
        padding-top: 0px;
    }

    .outer-col {
        margin-bottom: 10px;
    }

    .distant-lg, .distant-aided-lg, .distant-unaided-lg {
        display: none !important;
    }

    .distant-sm, .distant-aided-sm, .distant-unaided-sm {
        display: block !important;
    }

    .near-sm, .near-aided-sm, .near-unaided-sm {
        display: block !important;
    }

}