.NewCandidateInfo .NewCandidateInfo-content {
    padding: 20px;
    position: relative;
}

.NewCandidateInfo .NewCandidateInfo-content nav {
    z-index: 10;
}

.NewCandidateInfo .NewCandidateInfo-content nav .nav-tabs {
    border: 0;
}

.NewCandidateInfo .NewCandidateInfo-content .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1A2476;
    border-color: transparent transparent #f59b28;
    border-bottom: 4px solid #f59b28 !important;
    font-weight: bolder;
}
.NewCandidateInfo .NewCandidateInfo-content .nav-tabs .nav-link {
    color: #1A2476;
    font-family: Exo;
    font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 15px;
}

.NewCandidateInfo .NewCandidateInfo-content .nav-tabs .nav-link:hover {
    border: 2px solid transparent;
}

.NewCandidateInfo .NewCandidateInfo-content .current_candidate_info {
    width: 100%;
    padding: 20px 30px;
    font-family: JosefinSans;
    margin: 30px 0 10px 0;
}

.NewCandidateInfo .NewCandidateInfo-content .current_candidate_info hr {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


.NewCandidateInfo .form-back {
    width: 100%;
    background-color: #f59b28;
    color: #ffffff;
    position: relative;
}

.NewCandidateInfo .errors {
    padding: 45px;
}

.NewCandidateInfo .error_msg {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, .3);
}

.NewCandidateInfo .next-btn {
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px 30px;
    transition: .5s;
}

.NewCandidateInfo .next-btn:hover {
    background-color: #ffffff;
    color: #f59b28;
}

.NewCandidateInfo .next-btn-sm {
    display: none;
}

@media only screen and (max-width: 1250px)
{

    .NewCandidateInfo .errors {
        padding: 45px 25px;
    }

}

@media only screen and (max-width: 992px)
{

    .NewCandidateInfo .NewCandidateInfo-content .current_candidate_info {
        width: 100%;
        padding: 20px 0px;
        font-family: JosefinSans;
        margin: 30px 0 100px 0;
    }

}

@media only screen and (max-width: 768px)
{

    .NewCandidateInfo .NewCandidateInfo-content {
        font-size: 16px;
    }

    .NewCandidateInfo .NewCandidateInfo-content nav {
        margin-top: 50px;
    }

    .NewCandidateInfo .form-back .errors {
        display: none;
    }

    .NewCandidateInfo .next-btn-sm {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border-radius: 30px 0 0 30px;
        height: 50px;
        z-index: 999;
        transition: .3s;
    }
    
}


@media only screen and (max-width: 600px)
{

    .NewCandidateInfo {
        font-size: 16px;
    }

    .NewCandidateInfo .form-back {
        height: min-content;
        margin: 120px 0 150px 0;
    }

}

@media only screen and (max-width: 450px)
{

    .current_candidate_info_mobile {
        margin: 0;
        padding: 0;
    }

    .current_candidate_info_mobile div.col-6 {
        margin: 0;
        padding: 0 5px;
    }

}