.LaboratoryInvestigation {
    width: 35%;
    padding: 30px;
    height: min-content;
    background-color: #ffffff;
    position: absolute;
    top: calc( 50vh - 60vh);
    left: calc( 35% - 30%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    z-index: 0;
    font-size: 12px;
    color: #2182C5;
    font-family: Raleway;
}

.LaboratoryInvestigation i {
    font-size: 25px;
    color: #2182C5;
}

.LaboratoryInvestigation .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #2182C5;
    font-family: Quicksand;
}

.LaboratoryInvestigation .form-control:focus {
    box-shadow: none;
}

.LaboratoryInvestigation .btn {
    color: #ffffff;
    font-family: Exo;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #00a751;
}

.errors {
    font-family: JosefinSans;
}

@media only screen and (max-width: 992px) {
    .LaboratoryInvestigation {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .LaboratoryInvestigation {
        width: 55%;
    }
}

@media only screen and (max-width: 600px) {
    .LaboratoryInvestigation {
        width: 75%;
    }
}

@media only screen and (max-width: 450px) {
    .LaboratoryInvestigation {
        width: 90%;
    }
}