.ToCandidate {
    font-family: Raleway;
    background-image: url('https://image.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
}